<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page introuvable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Entête du site -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="container-fluid">
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
                 <ul class="navbar-nav ms-auto">
                     <li class="nav-item">
                         <a class="nav-link active" aria-current="page" href="{{ url_for('accueil') }}">Accueil</a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="{{ url_for('form') }}">Mise en Adoption</a>
                     </li>
                 </ul>
             </div>
         </div>
     </nav>

    <!-- Page en cas d'url introuvable -->
    <h1>404 - Page introuvable</h1>
    <h3>La page que vous avez demandé n'a pas été trouvée.</h3>
    <a href="/">Retour à l'accueil</a>

    <!-- Bas de la page-->
    <footer class="py-4 bg-dark text-white-50">
         <div class="container text-center">
             <small>Kangu © 2024. Tous droits réservés.</small>
         </div>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>